.primary {
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px 10px 30px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.secondary {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px 10px 30px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.success {
    background-color: #55c97b;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px 10px 30px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.add {
    background-color: #55c97b;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px 10px 30px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.add::before {
    content: "+";
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    position: absolute;
    left: 10px;
    top: 5px;
}

.remove {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px 10px 30px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.remove::before {
    position: absolute;
    content: "❌️";
    left: 10px;
}

.edit {
    background-color: #55c97b;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px 10px 30px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.edit::before {
    position: absolute;
    content: "✏️";
    left: 10px;
}
