.wrapper {
    margin-top: 10px;
}

.wrapper button {
    margin-bottom: 20px;
}

.tableBlock {
    padding: 40px;
    background-color: white;
    border-radius: 5px;
    width: 60%;
}

.tableBlock table {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: auto;
    width: 100%;
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.tableHeader th {
    font-weight: bold;
    text-align: start;
}
