.wrapper{
    margin-top: 10px;
}

.wrapper button {
    margin-bottom: 30px;
}
.tableBlock {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.tableBlock table {
    overflow-x:auto;
}
table {
    width: 70%;

}
.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.tableHeader th {
    font-weight: bold;
    text-align: start;
    padding: 30px;
}
