.wrapper {
    display: grid;
    grid-template-areas:
"nav header header"
"nav content content";
    grid-template-rows: 90px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    height: 100vh;
    background-color: #F8FAFF;
    grid-area: content;
    padding-left: 70px;
}
