$web-kit-shadow: 4px 5px 14px -1px rgba(34, 60, 80, 0.1);
$moz-shadow:  4px 5px 14px -1px rgba(34, 60, 80, 0.1);
$box-shadow : 4px 5px 14px -1px rgba(34, 60, 80, 0.1);

$colorBtnGreen: #55c97b;
$colorBtnPrimary: cornflowerblue;
$colorBtnGray: #bfbfbf;
$colorWhite : white;

$borderRadius: 3px;
$borderColor : #bfbfbf;

$paddingBtnSvg : 10px 20px 10px 35px;

$textColor: #bfbfbf;


